---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/324ae5e389.js"
      crossorigin="anonymous"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>


<style is:global>
  main {
    z-index: -100;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #cecece;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  .pointer {
    cursor: pointer;
  }
  .primary-btn {
    border-radius: 4px;
    border: solid 2px #cecece;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 11px 20px;
  }
  .primary-btn:hover {
    background: #cecece;
    color: #64644b;
  }

  .fluid-img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: 992px) {
    .hide-lg {
      display: none !important;
    }
  }
</style>